[submodule "drivers/avr/avr-can-lib"]
	path = drivers/avr/avr-can-lib
	url = git@github.com:gpgreen/avr-can-lib.git
[submodule "dsdl_compiler/pyuavcan"]
	path = dsdl_compiler/pyuavcan
	url = https://github.com/UAVCAN/pyuavcan
